Repository Zouhair-gh/TutorConnect-app: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-6.yml, azure-pipelines-9.yml

azure-pipelines-6.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildBackend
    displayName: Build and Test Backend
    jobs:
    - job: BuildAndTestBackend
      displayName: Java Spring Boot Backend
      steps:
      - task: JavaToolInstaller@0
        displayName: Set up JDK $(javaVersion)
        inputs:
  ...

azure-pipelines-9.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    displayName: Checkout repository
  - task: JavaToolInstaller@0
    displayName: Set up JDK
    inputs:
      versionSpec: $(JAVA_VERSION)
      jdkArchitectureOption: x64
      jdkSourceOption: PreInstalled
  - task: Maven@3
  ...

Create new_pipeline_version_a.yml
  .github/workflows/new_pipeline_version_a.yml
Due: azure-pipelines-6.yml

Update pipeline_build_with_compose.yml version2
  .github/workflows/pipeline_build_with_compose.yml
Due: azure-pipelines-6.yml

Update pipeline.yml
  .github/workflows/pipeline.yml
Due: azure-pipelines-6.yml

Update pipeline.yml changer docker-compose-test
  .github/workflows/pipeline.yml
Due: azure-pipelines-6.yml

Update pipeline.yml builds no
  .github/workflows/pipeline.yml
Due: azure-pipelines-6.yml

Delete .github/workflows/ImplementPipeline.yml
  .github/workflows/ImplementPipeline.yml
Due: azure-pipelines-6.yml

Delete .github/workflows/TutorConnect Full-Stack CI directory
  .github/workflows/TutorConnect Full-Stack CI/Backend Build & Test Workflow
  .github/workflows/TutorConnect Full-Stack CI/CD Docker Pipeline
  .github/workflows/TutorConnect Full-Stack CI/CI_CD_PipeLine
  .github/workflows/TutorConnect Full-Stack CI/Docker-test-CI
  .github/workflows/TutorConnect Full-Stack CI/TutorConnect CI/CD Pipeline
  .github/workflows/TutorConnect Full-Stack CI/TutorConnect CI/test
  .github/workflows/TutorConnect Full-Stack CI/test
Due: azure-pipelines-6.yml

Delete .github/workflows/ci-cd.yml
  .github/workflows/ci-cd.yml
Due: azure-pipelines-6.yml

Delete .github/workflows/new_pipeline_version_a.yml
  .github/workflows/new_pipeline_version_a.yml
Due: azure-pipelines-6.yml

Update pipeline_build_with_compose.yml
  .github/workflows/pipeline_build_with_compose.yml
Due: azure-pipelines-6.yml

Demands config implementation
  tutorconnectfrontend/src/App.js
  tutorconnectfrontend/src/components/Demands/DemandsList.jsx
  tutorconnectfrontend/src/room/AddRoom.jsx
  tutorconnectfrontend/src/room/RoomRenewalForm.jsx
Due: azure-pipelines-6.yml

latest changes
  package-lock.json
  package.json
  src/main/java/ma/tutorconnect/tutorconnect/security/SecurityConfig.java
  src/main/resources/application.properties
  tutorconnectfrontend/src/App.js
  tutorconnectfrontend/src/Website/components/StatsSection.jsx
  tutorconnectfrontend/src/components/Sessions/ParticipantSessionsList.jsx
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

Deamnds implemntation
  src/main/java/ma/tutorconnect/tutorconnect/TutorConnectApplication.java
  src/main/java/ma/tutorconnect/tutorconnect/controller/DemandController.java
  src/main/java/ma/tutorconnect/tutorconnect/controller/TutorController.java
  src/main/java/ma/tutorconnect/tutorconnect/controller/UserController.java
  src/main/java/ma/tutorconnect/tutorconnect/dto/DemandDto.java
  src/main/java/ma/tutorconnect/tutorconnect/entity/Demand.java
  src/main/java/ma/tutorconnect/tutorconnect/security/SecurityConfig.java
  src/main/java/ma/tutorconnect/tutorconnect/service/DemandService.java
  src/main/java/ma/tutorconnect/tutorconnect/service/Impl/DemandServiceImpl.java
  src/main/java/ma/tutorconnect/tutorconnect/service/Impl/RoomServiceImpl.java
  src/main/java/ma/tutorconnect/tutorconnect/service/RoomService.java
  src/main/java/ma/tutorconnect/tutorconnect/service/TutorService.java
  src/main/resources/application.properties
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

demands updates
  src/main/java/ma/tutorconnect/tutorconnect/controller/DemandController.java
  src/main/java/ma/tutorconnect/tutorconnect/security/SecurityConfig.java
  src/main/java/ma/tutorconnect/tutorconnect/service/DemandService.java
  src/main/java/ma/tutorconnect/tutorconnect/service/Impl/DemandServiceImpl.java
  tutorconnectfrontend/src/components/Demands/DemandsList.jsx
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

landing page updated
  tutorconnectfrontend/src/App.css
  tutorconnectfrontend/src/Website/SubscriptionForm.jsx
  tutorconnectfrontend/src/Website/components/About.jsx
  tutorconnectfrontend/src/Website/components/Footer.jsx
  tutorconnectfrontend/src/Website/components/Header.jsx
  tutorconnectfrontend/src/Website/components/Hero.jsx
  tutorconnectfrontend/src/Website/components/Index.jsx
  tutorconnectfrontend/src/Website/components/Services.jsx
  tutorconnectfrontend/src/Website/components/Testimonials.jsx
  tutorconnectfrontend/src/Website/styles/landing.css
Due: azure-pipelines-6.yml

multiple adjustments
  src/main/java/ma/tutorconnect/tutorconnect/controller/RoomController.java
  src/main/java/ma/tutorconnect/tutorconnect/controller/TutorController.java
  src/main/java/ma/tutorconnect/tutorconnect/dto/RoomResponseDto.java
  src/main/java/ma/tutorconnect/tutorconnect/dto/TutorDto.java
  src/main/java/ma/tutorconnect/tutorconnect/dto/UpdateRoomDto.java
  src/main/java/ma/tutorconnect/tutorconnect/entity/Room.java
  src/main/java/ma/tutorconnect/tutorconnect/entity/Tutor.java
  src/main/java/ma/tutorconnect/tutorconnect/security/SecurityConfig.java
  src/main/java/ma/tutorconnect/tutorconnect/service/Impl/RoomServiceImpl.java
  src/main/java/ma/tutorconnect/tutorconnect/service/RoomService.java
  tutorconnectfrontend/src/room/AddRoom.jsx
  tutorconnectfrontend/src/room/EditRoom.jsx
  tutorconnectfrontend/src/room/RoomView.jsx
  tutorconnectfrontend/src/room/RoomsList.jsx
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

partie tutor avant final version
  README.md
  src/main/java/ma/tutorconnect/tutorconnect/controller/DeliverableController.java
  src/main/java/ma/tutorconnect/tutorconnect/dto/GradeDeliverableRequest.java
  src/main/java/ma/tutorconnect/tutorconnect/security/SecurityConfig.java
  tutorconnectfrontend/src/App.js
  tutorconnectfrontend/src/components/Deliverable/DeliverableDetail.jsx
  tutorconnectfrontend/src/components/Deliverable/GradeDeliverableForm.jsx
  tutorconnectfrontend/src/layouts/SideBars/TutorSideBar.jsx
  tutorconnectfrontend/src/room/RoomManagement.jsx
  tutorconnectfrontend/src/room/RoomView.jsx
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

last updates for admin dashboard
  src/main/java/ma/tutorconnect/tutorconnect/controller/AdminController.java
  src/main/java/ma/tutorconnect/tutorconnect/dto/UserDto.java
  src/main/java/ma/tutorconnect/tutorconnect/security/SecurityConfig.java
  tutorconnectfrontend/src/components/users/UserManagement.jsx
  tutorconnectfrontend/src/layouts/SideBars/AdminSideBar.jsx
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

participant rooms
  src/main/java/ma/tutorconnect/tutorconnect/controller/ParticipantController.java
  src/main/java/ma/tutorconnect/tutorconnect/dto/RoomDTO.java
  src/main/java/ma/tutorconnect/tutorconnect/dto/RoomWithParticipantsDTO.java
  src/main/java/ma/tutorconnect/tutorconnect/repository/RoomRepository.java
  src/main/java/ma/tutorconnect/tutorconnect/security/SecurityConfig.java
  src/main/java/ma/tutorconnect/tutorconnect/service/Impl/ParticipantServiceImpl.java
  src/main/java/ma/tutorconnect/tutorconnect/service/Impl/RoomServiceImpl.java
  src/main/java/ma/tutorconnect/tutorconnect/service/Impl/TutorServiceImpl.java
  tutorconnectfrontend/src/room/ParticipantRoomsList.jsx
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

Participant adjustments
  tutorconnectfrontend/src/App.js
  tutorconnectfrontend/src/components/Sessions/ParticipantSessionsList.jsx
  tutorconnectfrontend/src/room/ParticipantRoomManagement.jsx
  tutorconnectfrontend/src/room/ParticipantRoomsList.jsx
  tutorconnectfrontend/src/room/RoomManagement.jsx
Due: azure-pipelines-6.yml

unit tests implemented for service package
  mvnw
  pom.xml
  src/test/java/ma/tutorconnect/tutorconnect/service/RoomServiceImplTest.java
  src/test/java/ma/tutorconnect/tutorconnect/service/TutorServiceImplTest.java
  src/test/java/ma/tutorconnect/tutorconnect/service/UserServiceImplTest.java
  tutorconnectfrontend/src/Website/components/About.jsx
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

Implement Dashboard Tutor With style
  tutorconnectfrontend/src/components/TutorDashboard.jsx
  tutorconnectfrontend/src/room/TutorRoomsList.jsx
Due: azure-pipelines-6.yml

style dashboard tutor
  tutorconnectfrontend/src/components/TutorDashboard.jsx
  tutorconnectfrontend/src/room/RoomViewTutor.jsx
Due: azure-pipelines-6.yml

style dashboard tutor elimine les devise
  tutorconnectfrontend/src/components/TutorDashboard.jsx
Due: azure-pipelines-6.yml

Update README.md
  README.md
Due: none

Participant delivrables issues fixes
  src/main/java/ma/tutorconnect/tutorconnect/TutorConnectApplication.java
  src/main/java/ma/tutorconnect/tutorconnect/controller/DeliverableController.java
  src/main/java/ma/tutorconnect/tutorconnect/entity/Tutor.java
  src/main/java/ma/tutorconnect/tutorconnect/repository/DeliverableRepository.java
  src/main/java/ma/tutorconnect/tutorconnect/security/SecurityConfig.java
  src/main/java/ma/tutorconnect/tutorconnect/service/DeliverableService.java
  src/main/java/ma/tutorconnect/tutorconnect/service/Impl/DeliverableServiceImpl.java
  tutorconnectfrontend/src/App.js
  tutorconnectfrontend/src/components/Deliverable/DeliverableDetailsView.jsx
  tutorconnectfrontend/src/components/Deliverable/DeliverablesParticipantList.jsx
  tutorconnectfrontend/src/components/Deliverable/ParticipantDeliverables.jsx
  tutorconnectfrontend/src/components/Deliverable/SubmitDeliverableForm.jsx
  tutorconnectfrontend/src/room/ParticipantRoomManagement.jsx
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

Dashboard participant
  src/main/java/ma/tutorconnect/tutorconnect/dto/RoomWithParticipantsDTO.java
  tutorconnectfrontend/src/components/ParticipantDashboard.jsx
  tutorconnectfrontend/src/components/TutorDashboard.jsx
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

version pret insha2llah
  src/main/java/ma/tutorconnect/tutorconnect/dto/RoomWithParticipantsDTO.java
  tutorconnectfrontend/src/components/Deliverable/ParticipantDeliverables.jsx
  tutorconnectfrontend/src/layouts/SideBars/ParticipantSidebar.jsx
  tutorconnectfrontend/src/room/AddRoom.jsx
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

testing controllers
  pom.xml
  src/main/java/ma/tutorconnect/tutorconnect/entity/Role.java
  src/test/java/ma/tutorconnect/tutorconnect/controller/AdminControllerTest.java
  src/test/java/ma/tutorconnect/tutorconnect/controller/AuthControllerTest.java
  src/test/java/ma/tutorconnect/tutorconnect/controller/RoomControllerTest.java
  src/test/java/ma/tutorconnect/tutorconnect/controller/TicketControllerTest.java
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

entity test
  src/test/java/ma/tutorconnect/tutorconnect/entity/UserEntityTest.java
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

last version
  src/main/java/ma/tutorconnect/tutorconnect/TutorConnectApplication.java
  src/main/java/ma/tutorconnect/tutorconnect/config/FileStorageConfig.java
  src/main/java/ma/tutorconnect/tutorconnect/config/FileStorageProperties.java
  src/main/java/ma/tutorconnect/tutorconnect/dto/SubmitDeliverableRequest.java
  src/main/java/ma/tutorconnect/tutorconnect/service/Impl/DeliverableServiceImpl.java
  src/main/resources/application.properties
  tutorconnectfrontend/src/components/Deliverable/SubmitDeliverableForm.jsx
  uploads/deliverables/5/8220dae0-c797-4d88-9d37-a5d2d3b0cf2e_WhatsApp Image 2025-05-19 at 22.24.14.jpeg
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

Update file README.md
  README.md
Due: none

modification de fichier README by architect
  README.md
  tutorconnectfrontend/public/index.html
  tutorconnectfrontend/src/components/Demands/DemandsList.jsx
  tutorconnectfrontend/src/components/Sessions/SessionManagement.jsx
Due: azure-pipelines-6.yml

some changes
  README.md
Due: none

SetUp env variables for PROD
  .env
  src/main/java/ma/tutorconnect/tutorconnect/security/SecurityConfig.java
  src/main/resources/application.properties
  tutorconnectfrontend/.env
  tutorconnectfrontend/src/api/axiosClient.js
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

link with db
  .env
  Dockerfile
  src/main/java/ma/tutorconnect/tutorconnect/entity/Notification.java
  src/main/resources/application.properties
  tutorconnectfrontend/.env
  uploads/deliverables/6/ff921a8d-1ee7-4ed3-af16-6478e2a719b3_WhatsApp Image 2025-05-25 at 11.16.22_aca979e9.jpg
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

config
  src/main/resources/application.properties
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

change en app.properties
  .env
  src/main/resources/application.properties
Due: azure-pipelines-6.yml, azure-pipelines-9.yml

Path conditions:
  azure-pipelines-6.yml: any file but: README.md
  azure-pipelines-9.yml: any of: src, pom.xml, azure-pipelines-backend.yml
